<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div style="text-align: center;margin-top: 20px; margin-bottom: 20px;">
        <form action="/api/login/">
            <div style="margin-bottom: 5px;">
                <label style="font-size: 20px; margin-right: 2px;" for="email">Staff Code</label>
                <input style="padding: 10px; margin: 20px;" type="text" name="username" id="username" required>
                </br>
            </div>
            <div style="margin-top: 10px;">
                <label style="font-size: 20px; margin-right: 2px;" for="password">Password</label>
                <input style="padding: 10px; margin: 10px;" type="password" name="password" id="password" required>
                </br>
            </div>
            <button
                style="border: 2px; width:min-content; height: fit-content; font-size: large; margin-top: 7px; padding: 10px;">Login</button>
            <div class="error"></div>
        </form>
    </div>
</body>

</html>

<script>
    const form = document.querySelector('form');
    const errors = document.querySelector(".error");

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors 
        errors.textContent = '';

        // get values
        const username = form.username.value.toLowerCase();
        const password = form.password.value;

        try {
            const res = await fetch('/api/login', {
                method: 'POST',
                body: JSON.stringify({ username, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            if (data.status == 'Failure') {
                errors.textContent = data.message
            }
            if (data?.displayName) {
                localStorage.setItem('staffCode', username)
                location.assign('/');
            }
        }
        catch (error) {
            console.log(error);
        }

    });
</script>