<ul>
    <li id="name"></li>
    <li><a>Logout</a></li>
</ul>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        border-style: solid;
        border-width: 1px;
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li#name {
        display: block;
        float: left;
        text-decoration: none;
        text-align: center;
    }
</style>

</html>

<script>
    const userFullName = localStorage.getItem('name')
    const name = document.getElementById('name');
    name.innerHTML = `Hello, ${userFullName}`;

    const ulLia = document.querySelector('a');
    ulLia.addEventListener('click', async (e) => {
        e.preventDefault();

        const data = await fetch('/api/logout', {
            method: 'POST',
        });
        localStorage.clear();
        location.assign("/login")
    });
</script>