<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickup</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<main>
    <%- include('nav.ejs') %>
        <div>
            <h2 style="text-align: center;">PICKUP</h2>
            <form>
                <div class="main">
                    <div>
                        <label class="labels" for="gates">GATE:</label>
                        <select class="box" name="gate" id="gate">
                            <!-- <option value="Gate W8">GATE W8</option> -->
                            <option value="Gate W9">GATE W9</option>
                            <option value="Gate N1">GATE N1</option>
                        </select>
                        <br>
                        <label class="labels" for="adno">Ad No</label>
                        <input class="adno-field" maxlength="6" type="text" name="adno" id="adno">
                        <br>
                        <input onclick="createPickup()" type="button" value="Submit" />
                    </div>
                </div>
            </form>
            <div class="message" style="display:block"></div>
        </div>
</main>

</html>
<script>
    const msg = document.querySelector(".message");
    const form = document.querySelector('form');

    function closeMessageDiv() {
        msg.textContent = ""
    }
    const createPickup = () => {
        const gate = form.gate.value;
        let adno = form.adno.value;

        if (adno.length < 6) {
            adno = adno.padStart(6, "0")
        }
        const staffCde = localStorage.getItem('staffCode');

        try {
            const url =
                decodeURI(`http://bie-api.bsk.edu.kw:4950/Service.asmx/StudentPickupWalking?adNo=${adno}&gate=${gate}&staffCode=${staffCde}`);
            axios.get(url).then(res => {
                console.log(res);
                msg.textContent = res.data
            });
            window.setTimeout("closeMessageDiv()", 2500);
        } catch (error) {
            console.log(error)
        }
    }
</script>
<style>
    .main {
        text-align: center;
    }

    .labels {
        font-size: 18px;
    }

    .box {
        text-align: center;
        width: 120px;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        color: #1c87c9;
        background-color: #eee;
        border-radius: 5px;

    }

    input[type=text] {
        width: 30%;
        padding: 7px 7px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .adno-field {
        margin-top: 10px;
    }

    input[type=button] {
        width: 30%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>